@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&family=Roboto&display=swap');

/* font-family: 'Rethink Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

html {
    margin: 0;
    padding: 0;
}

body {
    margin:0;
    padding:0;
    background-image: url(../assets/img-bg02.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.55);
    max-width: 60%;
    margin: auto;
    transition: all .3s;
}

header {
    background-color:rgb(31, 31, 31);
    padding: 10px 15px;
    text-align: center;
}

header > h1 {
    margin:0;
    color:white;
    font-size: 22px;
    transition: all .2s;
}

main {
    background-image: url(../assets/img-bg01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.sc-main {
    background-color:rgba(255, 255, 255, 0.622);
    color:rgba(32, 32, 32, 0.911); 
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.033);
    margin: 0;
    width: 100%;
    transition: all .2s;
}

.sc-main > article {
    padding: 15px 15px;
}

article > h2,p {
    margin: 0;
}

.tittle-main {
    font-size: 16px;
    font-weight: 600;
}

.text-main {
    margin-top: 10px; 
    font-weight: 500;
}

form { 
    padding: 0 0 15px 0;
    margin: auto;
    width: 95%;
}

.cx-form {
    border: none;
    display: inline-block;
    height: 35px;
    margin: 0 0 10px 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
}

.name, .email {
    text-indent: 5px;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../assets/caret-down-outline.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
    text-indent: 5px; 
}

.submit {
    color: white;
    background-color: rgb(31, 31, 31);
    font-size: 14px;
}

.submit:hover {
    background-color: rgb(70, 70, 70);
    box-shadow: 0 0 5px rgba(35, 35, 35, 0.589);
}

footer {
    background-color: rgb(31, 31, 31);
    padding: 15px;
    color: white;
}

.face {
    float: none;
    margin: auto;
    margin-top: 10px;
    background-image: url(../assets/face.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    width: 150px;
    height: 200px;
}

footer > article{
    text-align: justify;
    float: none;
    clear: both;
}

.tittle-footer {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
}

.text-footer {
    font-size: 16px;
    margin: 5px;
    text-align: justify;
}

@media screen and (min-width:424px) {
    main {
        padding: 15px 0;
    }

    .sc-main {
        position: relative;
        float: right;
        margin-right: 30px;
        width: 250px; 
    }

    form {
        width: 90%;
    }

    .cx-form {
        height: 25px;
        margin: 0 0 5px 0;
        width: 100%;
    }

    footer {
        clear: right;
        padding: 25px; 
        overflow: hidden;
    }

    .face {
        width: 130px;
        height: 180px; 
        float: left;
        margin: 15px 25px 15px 15px;
    }

    footer > article {
        text-align: left;
        float: right;
    }

    .tittle-footer {
        text-align: left;
    }

    .text-footer {
        text-align: left;
    }

    .sc-footer {
        padding: 15px;
    }

    article > h2 {
        font-size: 18px;
    }

    article > p {
        font-size: 14px;
    }
}

@media screen and (min-width:1440px) {
    header > h1 {
        font-size: 30px;
    }

    .sc-main {
        width: 300px;
    }

    .cx-form {
        height: 40px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    .tittle-main {
        font-size: 20px;
    }

    .text-main {
        font-size: 18px;
    }

    .tittle-footer {
        font-size: 22px;
    }

    .text-footer {
        font-size: 20px;
    }
} 

@media screen and (max-width: 970px) {
    .page {
        max-width: 100%;
    }
}