@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&family=Roboto&display=swap');

/* font-family: 'Rethink Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

html {
    margin: 0;
    padding: 0;
}

body {
    margin:0;
    padding:0;
    background-image: url(../assets/img-bg02.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.uppercase{
    text-transform: uppercase;
}

.roboto {
    font-family: 'roboto', sans-serif;
}

.page {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.55);
    max-width: 60%;
    margin: auto;
    transition: all .3s;
}

header {
    background-color:rgb(31, 31, 31);
    padding: 10px 15px;
    text-align: center;
}

header > h1 {
    margin:0;
    color:white;
    font: 22px 'Roboto', sans-serif;
}

main {
    background-image: url(../assets/img-bg01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    overflow: hidden;
}

article > p {
    margin-top: 10px; 
    font: 20px 'Roboto', sans-serif;
}

#sc-main > article {
    text-shadow: .5px .5px 2px rgba(0, 0, 0, 0.234);
}

#sc-main {
    background-color:rgba(255, 255, 255, 0.622);
    color:rgba(32, 32, 32, 0.911); 
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.033);
    margin: 0;
    width: 100%;
}

#sc-main > article {
    padding: 15px 15px;
}

form { 
    padding: 0 0 15px 0;
    margin: auto;
    width: 95%;
}

#submit {
    color: white;
    background-color: rgb(31, 31, 31);
}

#submit:hover {
    background-color: rgb(70, 70, 70);
    box-shadow: 0 0 5px rgba(35, 35, 35, 0.589);
}

#name, #email {
    text-indent: 5px;
}

.cx-form {
    border: none;
    border-radius: 3px;
    display: inline-block;
    height: 35px;
    margin: 0 0 10px 0;
    padding: 0;
    width: 100%;
}


footer {
    background-color: rgb(31, 31, 31);
    padding: 15px;
    color: white;
}

article > h2 {
    font-size: 20px;
}

article > h2,p {
    margin: 0;
}

.tittle-footer {
    text-align: center;
    margin-top: 15px;
}

.text-footer {
    margin: 5px;
    text-align: justify;
}

#face {
    float: none;
    margin: auto;
    margin-top: 10px;
    background-image: url(../assets/face.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    width: 150px;
    height: 200px;
}

footer > article{
    text-align: justify;
    float: none;
    clear: both;
}

@media screen and (min-width:424px) {
    main {
        padding: 15px 0;
    }

    #sc-main {
        position: relative;
        float: right;
        margin-right: 30px;
        width: 250px; 
    }

    form {
        width: 90%;
    }

    .cx-form {
        height: 25px;
        margin: 0 0 5px 0;
        width: 100%;
    }

    footer {
        clear: right;
        padding: 25px; 
        overflow: hidden;
    }

    #face {
        width: 130px;
        height: 180px; 
        float: left;
        margin: 15px 25px 15px 15px;
    }

    footer > article {
        text-align: left;
        float: right;
    }

    .tittle-footer {
        text-align: left;
    }

    .text-footer {
        text-align: left;
    }

    #sc-footer {
        padding: 15px;
    }

    article > h2 {
        font-size: 18px;
    }

    article > p {
        font-size: 14px;
    }
}

@media screen and (max-width: 970px) {
    .page {
        max-width: 100%;
    }
}